<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<form th:method="put" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <label>
        First Name : <input type="text" th:field="*{name}"/>
    </label>
    <br/>
    <label>
        Last Name : <input type="text" th:field="*{surname}"/>
    </label>
    <br/>
    <label>
        Old : <input type="text" th:field="*{old}"/>
    </label>
    <br/>
    <input type="submit" value="Update user data"/>
</form>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>