<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>
<th:block th:unless="${#authorization.expression('isAuthenticated()')}">
    <a href="/auth/login">Войти на сайт</a>
    </br>
    <a href="/auth/registration">Регистрация</a>
</th:block>
<th:block th:if="${#authorization.expression('isAuthenticated()')}">
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout">
    </form>
</th:block>
</body>
</html>